---
interface Props {
    title: string;
    tags: string[];
    description: string;
    category?: string;
    isComingSoon?: boolean;
    image?: string; // 画像は任意（なければパターン表示）
    href?: string;
}

const {
    title,
    category,
    tags,
    description,
    image,
    href = "#",
    isComingSoon = false,
} = Astro.props;
---

<a
    href={isComingSoon ? "#" : href}
    class="group block h-full relative overflow-hidden bg-white transition-colors duration-300"
>
    <!-- 画像エリア (アスペクト比 16:9) -->
    <div
        class="aspect-video w-full border-b-2 border-black relative overflow-hidden bg-gray-100"
    >
        {
            image ? (
                <img
                    src={image}
                    alt={title}
                    class="w-full h-full object-cover transition-all duration-300 group-hover:scale-105"
                />
            ) : (
                <div class="absolute inset-0 opacity-20 bg-[radial-gradient(#000_1px,transparent_1px)] [background-size:16px_16px] transition-all duration-300 group-hover:scale-105" />
            )
        }

        <!-- ホバー時に出る「View Project」ラベル -->
        <div
            class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 backdrop-blur-[2px]"
        >
            <span
                class="bg-white text-black px-4 py-2 font-bold text-xs border-2 border-black shadow-[4px_4px_0px_0px_#000]"
            >
                {isComingSoon ? "COMING SOON" : "VIEW PROJECT ->"}
            </span>
        </div>
    </div>

    <!-- テキストエリア -->
    <div class="group relative p-6 flex flex-col h-[calc(100%-56.25%)]">
        <!-- タイトル -->
        <h3 class="text-xl font-black mb-4 leading-none border-l-6 pl-2">
            {title}<br />
            <span
                class="text-xs tracking-widest uppercase font-medium leading-0"
                >{category}</span
            >
        </h3>

        <!-- 説明文 -->
        <p
            class="text-sm font-medium text-gray-700 leading-relaxed line-clamp-3"
        >
            {description}
        </p>

        <!-- 矢印（下揃え） -->
        <div class="mt-auto pb-4 flex justify-between">
            <!-- タグ -->
            <div class="flex flex-wrap gap-2 mb-4">
                {
                    tags.map((tag) => (
                        <span class="text-[10px] font-medium bg-white text-gray-700">
                            #{tag}
                        </span>
                    ))
                }
            </div>
            <span
                class={isComingSoon
                    ? "text-transparent"
                    : "inline-block font-bold text-xl group-hover:translate-x-2 transition-transform translate-x-0 duration-300"}
                >-&gt;</span
            >
        </div>
        <span class="slide-bg-t bg-white mix-blend-difference"></span>
    </div>
</a>
