---



import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import ChevronRight from "@lucide/astro/icons/chevron-right";
import SlideButton from "@/components/ui/SlideButton.astro";

type Props = {
    id: string;
    tight?: boolean;
} & CollectionEntry<"works">["data"];
const {
    title,
    category,
    tags,
    description,
    image,
    isComingSoon = false,
    id,
    tight,
}: Props = Astro.props;
---

<div
    class="group flex relative h-48 overflow-hidden [&>*:nth-child(odd)]:flex-row-reverse [&>*:nth-child(even)]:flex-row bg-white transition-colors duration-300 outline-2 outline-black"
>
    <!-- 画像エリア (アスペクト比 16:9) -->
    <div class="aspect-video shrink-0 relative overflow-hidden bg-gray-100">
        {
            image ? (
                <Image
                    src={image}
                    alt={title}
                    class="w-full h-full object-cover transition-all transform-gpu duration-600 scale-100 group-hover:scale-110 blur-[2px]"
                />
            ) : (
                <div class="absolute inset-0 origin-center scale-100 opacity-20 bg-[radial-gradient(#000_1px,transparent_1px)] bg-size-[16px_16px] transition-all duration-600 group-hover:scale-110" />
            )
        }

        <!-- ホバー時に出る「View Project」ラベル -->
        <a
            href={isComingSoon ? undefined : "/works/" + id}
            class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 backdrop-blur-[2px]"
        >
            <span
                aria-disabled={isComingSoon}
                class={`${isComingSoon ? "opacity-75 cursor-not-allowed" : ""} btn-brutal px-4 py-2 text-xs select-none`}
            >
                {isComingSoon ? "COMING SOON" : "VIEW PROJECT"}
            </span>
        </a>
    </div>

    <!-- テキストエリア -->
    <div
        class="grow w-full border-black [&>*:nth-child(odd)]:border-l-2 [&>*:nth-child(even)]:border-r-2"
    >
      <SlideButton
      direction="left"
            href={isComingSoon ? undefined : "/works/" + id}
            class="flex flex-col p-6 h-full justify-between"
        >
            <div>
                <h3
                    class="text-xl font-black mb-4 leading-none text-nowrap border-l-6 pl-2"
                >
                    {title}<br />
                    <span
                        class="text-xs text-gray-500 tracking-widest uppercase font-medium leading-0"
                        >{category}</span
                    >
                </h3>

                <!-- 説明文 -->
                {
                    !tight && (
                        <p class="text-sm font-medium text-gray-700 leading-relaxed text-ellipsis line-clamp-2">
                            {description}
                        </p>
                    )
                }
            </div>

            <div class="mt-6 flex justify-between">
                <div class="flex flex-wrap gap-2">
                    {
                        tags
                            .slice(0, 3)
                            .map((tag) => (
                                <span class="text-[10px] font-medium bg-white text-gray-700">
                                    #{tag}
                                </span>
                            ))
                    }
                </div>
                <ChevronRight
                    class={isComingSoon
                        ? "text-transparent"
                        : "inline-block size-5 font-bold text-xl group-hover:translate-x-2 transition-transform translate-x-0 duration-300"}
                />
            </div>
        </SlideButton>
    </div>
</div>
