---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
    slug: string;
} & CollectionEntry<"articles">["data"];

const { title, summary, tags, image, publishDate, slug }: Props = Astro.props;

const formattedDate = publishDate.toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
---

<div
    class="group flex h-full relative outline-black outline-2 overflow-hidden flex-col bg-white transition-colors duration-300"
>
    <!-- Image Area (Aspect Ratio 16:9) -->
    <div
        class="aspect-video w-full border-b-2 border-black relative overflow-hidden bg-gray-100"
    >
        {
            image ? (
                <Image
                    src={image}
                    alt={title}
                    class="w-full h-full object-cover transition-all transform-gpu duration-600 scale-100 group-hover:scale-110 blur-[2px]"
                />
            ) : (
                <div class="absolute inset-0 origin-center scale-100 opacity-20 bg-[radial-gradient(#000_1px,transparent_1px)] bg-size-[16px_16px] transition-all duration-600 group-hover:scale-110" />
            )
        }

        <!-- Hover Label -->
        <a
            href={"/blog/" + slug}
            class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 backdrop-blur-[2px]"
        >
            <span class="btn-brutal px-4 py-2 text-xs select-none">
                READ ARTICLE -&gt;
            </span>
        </a>
    </div>

    <!-- Text Area -->
    <a
        href={"/blog/" + slug}
        class="group relative p-6 flex flex-col grow justify-between"
    >
        <div>
            <div class="flex justify-between items-start mb-2">
                <span class="text-xs font-mono text-gray-500"
                    >{formattedDate}</span
                >
            </div>
            <h3 class="text-xl font-black mb-4 leading-none border-l-6 pl-2">
                {title}
            </h3>

            <!-- Summary -->
            <p
                class="text-sm font-medium text-gray-700 leading-relaxed line-clamp-3"
            >
                {summary}
            </p>
        </div>

        <div class="mt-6 flex justify-between items-end">
            <div class="flex flex-wrap gap-2">
                {
                    tags
                        .slice(0, 3)
                        .map((tag) => (
                            <span class="text-[10px] font-medium bg-white text-gray-700">
                                #{tag}
                            </span>
                        ))
                }
            </div>
            <span
                class="inline-block font-bold text-xl group-hover:translate-x-2 transition-transform translate-x-0 duration-300"
                >-&gt;</span
            >
        </div>
        <span class="slide-bg-t bg-white mix-blend-difference"></span>
    </a>
</div>
